src/META-INF/wsdl/localhost_8080/WebServiceVat/WebServiceVat.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ServiceVat/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ServiceVat/">

<xs:element name="income" type="tns:income"/>

<xs:element name="incomeResponse" type="tns:incomeResponse"/>

<xs:complexType name="income">
<xs:sequence>
<xs:element name="income" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="incomeResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>